html {
	scroll-behavior: smooth;
}
body {
	background-color: #2a2a2a;
	font-family: 'Comfortaa', cursive;
	color: #cacaca;
	margin-top: 50px;
}
.ketik  {
            font-size: 29px;
            color: #cacaca;
            width: 100%;
            line-height: 50px;
            white-space:nowrap;
            overflow:hidden;
            -webkit-animation: ketik 5s steps(50, end);
            animation: ketik 5s steps(50, end);
        }
 
        @keyframes ketik{
            from { width: 0; }
        }
 
        @-webkit-keyframes ketik{
            from { width: 0; }
        }
.front {
	color: #cacaca;
}
.front2 {
	color: #cacaca;
	font-size: 20px;
}
.profil {
	border-radius:50%;
}
.facebook {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.facebook:hover {
	width:85px;
}
.github {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.github:hover {
	width:85px;
}
.linkedin {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.linkedin:hover {
	width:85px;
}
.twitter {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.twitter:hover {
	width:85px;
}
.instagram {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.instagram:hover {
	width:85px;
}

.parallax-slide {
  height: 500px;
}
.parallax-text{
  color:#fff;
  height: 100vh;
  width:50%;
  padding-left:100px
}
.content-slide {
  height: 100vh;
  background: #fff;
  text-align: center;
}
#parallax1 {
  background: url('https://images.pexels.com/photos/1531660/pexels-photo-1531660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
@import url(https://fonts.googleapis.com/css?family=Lato);
html {
  height: 100%;
}
h1 {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
}
.typed {
  border-bottom: 2px solid #ffffff;
}
.typed-cursor{
   opacity: 1;
   animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.content1 {
	background-color: #cacaca;
	color: black;
}
#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
