body{
	background-color: #2a2a2a;
	font-family: Arial;
}
.ketik  {
            font-size: 30px;
            color: #cacaca;
            width: 100%;
            line-height: 50px;
            white-space:nowrap;
            overflow:hidden;
            -webkit-animation: ketik 5s steps(50, end);
            animation: ketik 5s steps(50, end);
        }
 
        @keyframes ketik{
            from { width: 0; }
        }
 
        @-webkit-keyframes ketik{
            from { width: 0; }
        }
.front {
	color: #cacaca;
}
.profil {
	border-radius:50%;
}
.facebook {
	width:100px;
	height:100px;
	background-color:#6495ED;
	transition:width 1s;
	-webkit-transition:width 1s;
}
.facebook:hover {
	width:150px;
}
.github {
	width:100px;
	height:100px;
	background-color:#2F4F4F;
	transition:width 1s;
	-webkit-transition:width 1s;
}
.github:hover {
	width:150px;
}
.linkedin {
	width:100px;
	height:100px;
	background-color:#1E90FF;
	transition:width 1s;
	-webkit-transition:width 1s;
}
.linkedin:hover {
	width:150px;
}
.twitter {
	width:100px;
	height:100px;
	background-color:#00FFFF;
	transition:width 1s;
	-webkit-transition:width 1s;
}
.twitter:hover {
	width:150px;
}
.instagram {
	width:100px;
	height:100px;
	background-color:#FF1493;
	transition:width 1s;
	-webkit-transition:width 1s;
}
.instagram:hover {
	width:150px;
}
