body{
	background-color: #2a2a2a;
	font-family: Arial;
}
.ketik  {
            font-size: 30px;
            color: #cacaca;
            width: 100%;
            line-height: 50px;
            white-space:nowrap;
            overflow:hidden;
            -webkit-animation: ketik 8s steps(50, end);
            animation: ketik 8s steps(50, end);
        }
 
        @keyframes ketik{
            from { width: 0; }
        }
 
        @-webkit-keyframes ketik{
            from { width: 0; }
        }
.ketik2 {
	 font-size: 30px;
         color: #cacaca;
         width: 100%;
         line-height: 50px;
         white-space:nowrap;
         overflow:hidden;
         -webkit-animation: ketik2 10s steps(50, end);
         animation: ketik2 10s steps(50, end);
        }
 
        @keyframes ketik2{
            from { width: 0; }
        }
 
        @-webkit-keyframes ketik2{
            from { width: 0; }
        }
}
.front {
	color: #cacaca;
}
.profil {
	border-radius:50%;
}
.facebook {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.facebook:hover {
	width:85px;
}
.github {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.github:hover {
	width:85px;
}
.linkedin {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.linkedin:hover {
	width:85px;
}
.twitter {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.twitter:hover {
	width:85px;
}
.instagram {
	margin-left:0px;
	margin-bottom:-4px;
	width:55px;
	height:55px;
	background-color:transparent;
	transition:width 0.5s;
	-webkit-transition:width 0.5s;
}
.instagram:hover {
	width:85px;
}

.parallax-slide {
  height: 500px;
}
.parallax-text{
  color:#fff;
  height: 100vh;
  width:50%;
  padding-left:100px
}
.content-slide {
  height: 100vh;
  background: #fff;
  text-align: center;
}
h1 {
  padding-top: 10%;
}
#parallax1 {
  background: url('https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center;
  background-attachment: fixed;
}





@import url(https://fonts.googleapis.com/css?family=Lato);
html {
  height: 100%;
}
/*body {
  background-color: #131313;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}*/
h1 {
  color: #ffffff;
  font-size: 4em;
}
.typed {
  border-bottom: 2px solid #ffffff;
}
.typed-cursor{
   opacity: 1;
   animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
